/* Contenedor de búsqueda */
.search-container {
  margin: 20px auto;
  padding: 15px;
  background-color: #1E1E1E;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Contenedor principal que contiene la tabla y el formulario */
.main-container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  padding: 20px;
}
.add-report-container {
  width: 300px;  /* Ancho fijo para el formulario */
  margin-left: 20px; /* Separación de la tabla */
}
/* Estilos de la tabla */
.reports-container {
  flex: 1; /* Hace que la tabla ocupe todo el espacio disponible */
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.action {
  display: flex;
  gap: 5px;
}
h2 {
  color: #F4511E; /* Color de seguridad */
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Tabla de reportes */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.mat-elevation-z8 {
  background-color: #252525;
  color: #E0E0E0;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #3C3C3C;
}

th {
  background-color: #333;
  color: #FFAB91;
  font-weight: bold;
}

td {
  color: #E0E0E0;
}

/* Detalles del botón */
.details-button {
  color: #FF5722;
  font-weight: bold;
  text-transform: uppercase;
}

.details-button:hover {
  color: #FFAB91;
  text-decoration: underline;
}

/* Estilos de hover para filas */
tr:hover {
  background-color: #333333;
}

/* Enfoque de accesibilidad */
.details-button:focus,
tr:focus {
  outline: 2px solid #FF5722;
  outline-offset: 2px;
}

/* Estilos específicos de accesibilidad */
@media (max-width: 768px) {
  .reports-container {
    padding: 10px;
    margin: 10px;
  }

  h2 {
    font-size: 1.5em;
  }

  th, td {
    padding: 8px 10px;
  }
}
