<!-- login.component.html -->
<div class="login-wrapper">
  <div class="login-container">
    <img src="https://i.postimg.cc/ryH6sM4k/logo.png" alt="Logo" class="logo">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" placeholder="Enter your email" />

      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" placeholder="Enter your password" />

      <button type="submit" class="login-button">Log In</button>
    </form>
    <p class="register-link">Don’t have an account? <a routerLink="/sign-up">Register here</a></p>
  </div>
</div>

