<body class="app-background">
<app-toolbar></app-toolbar>

<div class="profile-wrapper">
  <div class="profile-container">
    <div class="title-logout-container">
      <h2>User Profile</h2>
        <div class="logout-container" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Log Out</span>
        </div>
    </div>

    <div class="form-group">
      <label for="username">First and Last Name:</label>
      <span id="username">{{ username || 'N/A' }}</span>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <span id="email">{{ email || 'N/A' }}</span>
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <span id="role">{{ role || 'N/A' }}</span>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <span id="address">N/A</span>
    </div>

    <div class="form-group">
      <label for="birthdate">Birthdate:</label>
      <span id="birthdate">N/A</span>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="gender">Gender:</label>
        <span id="gender">N/A</span>
      </div>

      <div class="form-group">
        <label for="phone">Phone:</label>
        <span id="phone">N/A</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <span id="password">********</span>
    </div>

    <button class="edit-profile-button" type="button">Edit Profile</button>
  </div>
</div>
</body>

