<header class="app-toolbar">
    <div class="top-section">
      <div class="brand-section">
        <img class="brand-logo" src="https://i.postimg.cc/ryH6sM4k/logo.png" alt="logo" aria-hidden="true" />
        <span class="app-name">TWINGUARD EDUCATION</span>
      </div>
      <div class="profile-section">
        <i class="fas fa-user profile-icon"></i>
        <i class="fas fa-bell notification-icon"></i>
      </div>
    </div>
    <nav class="nav-options">
      <a routerLink="/monitoring">Monitoring</a>
      <a routerLink="/reports">Reports</a>
      <a routerLink="/planning">Planning</a>
    </nav>
  </header>