<app-toolbar></app-toolbar>
<div class="monitoring-container">
    <h2>Classrooms Status</h2>
    <div class="status-display">
      <!-- Imagen del estado de las aulas -->
      <img src="https://i.postimg.cc/kgrBxNWT/map.jpg" alt="Classroom Status Map" class="map-image" />

      <!-- Indicador de alerta -->
      <div class="alert-indicator">
        <img src="https://i.postimg.cc/wTRkqV62/teacher.jpg" alt="Teacher Icon" class="teacher-icon" />
        <p>There are no alerts reported</p>
      </div>
    </div>
  </div>
