<body class="app-background">
<app-toolbar></app-toolbar>
<div class="monitoring-container">
  <h2>Classrooms Status</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openAzurePortal()">Open Azure Portal</button>
  </div>
  <div>
    <iframe
      src="https://explorer.digitaltwins.azure.net/?tid=0e0cb060-09ad-49f5-a005-68b9b49aa1f6&eid=LosGemelosDigitales-instance.api.wcus.digitaltwins.azure.net"
      width="100%"
      height="600px"
      style="border: none;">
    </iframe>
  </div>
</div>
</body>
